---
name: docker

on:
  workflow_dispatch:
  push:
    branches:
      - '*'
    pull_request:
      types:
        - opened
        - reopened
        - synchronize
    tags:
      - 'v?[0-9]+.[0-9]+.[0-9]+'
  schedule:
    - cron: '0 7 * * 1,3,5'

jobs:
  matrix:
    runs-on: ubuntu-latest
    outputs:
      versions: ${{ steps.generate-matrix.outputs.tfver }}
    steps:
      - name: Generate Matrix
        id: generate-matrix
        run: |
          sudo add-apt-repository ppa:deadsnakes/ppa
          sudo apt-get install --no-install-recommends -y jq python${PYTHON_VERSION} python${PYTHON_VERSION}-distutils python3-pip
          python${PYTHON_VERSION} -m pip install --upgrade pip
          python${PYTHON_VERSION} -m pip install tfver
          tfver=$(tfver -vMmL -t "hansohn/terraform-google:{tag}" | jq '.versions')
          echo ${tfver}
          echo tfver=${tfver} >> $GITHUB_OUTPUT
        env:
          PYTHON_VERSION: 3.9

  docker:
    name: ${{ matrix.versions.version }}
    needs: matrix
    runs-on: ubuntu-latest
    strategy:
      matrix:
        versions: ${{ fromJSON(needs.matrix.outputs.versions) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get latest tag
        if: github.event_name == 'schedule'
        id: latesttag
        uses: WyriHaximus/github-action-get-previous-tag@v1
        with:
          fallback: main

      - name: Checkout latest tag
        if: github.event_name == 'schedule'
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.latesttag.outputs.tag }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        if: (github.event_name == 'push' && github.ref_type == 'tag') || github.event_name == 'schedule'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push ${{ matrix.versions.version }}
        uses: docker/build-push-action@v3
        with:
          build-args: |
            TERRAFORM_VERSION=${{ matrix.versions.version }}
          context: ./debian
          push: ${{ (github.event_name == 'push' && github.ref_type == 'tag') || github.event_name == 'schedule' }}
          tags: ${{ join(matrix.versions.tags, ',') }}

  dockerhub:
    if: (github.event_name == 'push' && github.ref_type == 'tag') || github.event_name == 'schedule'
    needs:
      - matrix
      - docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: hansohn/terraform-google
          short-description: ${{ github.event.repository.description }}

  slack:
    if: always()
    needs:
      - matrix
      - docker
      - dockerhub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Slack Notification
        uses: Gamesight/slack-workflow-status@master
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK }}
          channel: ${{ secrets.SLACK_CHANNEL_ID }}
          name: ${{ secrets.SLACK_USERNAME }}
          icon_url: "https://cdn-icons-png.flaticon.com/512/25/25231.png"
